/* You can add global styles to this file, and also import other style files */

// since we have an issue on how the order of the css is being loaded from angular.json,
// we should be instead having them imported here, according to the order that they can be used

// this is more useful when we do a production release
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";

.xng-breadcrumb-root {
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
  font-weight: bold;
}

.xng-breadcrumb-separator {
  padding: 0 0;
}

.StripeElement {
  height: 3.125em;
}

